Data Extraction

In [34]:
# pakages
import os  # local system folder access
import psycopg2 # access sql
import json
import git
import pandas as pd

To clone the github repository :
1. Download the git software and install it in your system.
2. Create the folder phonepeplus in your system.
3. After that, open command prompt with that folder which you created and run the commmand :  git clone https://github.com/PhonePe/pulse.git
4. sucessfully clone the phonepe data in your folder.

In [2]:
# aggregated_transaction

path1 = "E:/GUVI VIDEOS/GUVI_PROJECT/PhonepePulseData8/data/aggregated/transaction/country/india/state/"

aggregated_transaction_list = os.listdir(path1)

column1 ={"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }

# access the state file
for state in aggregated_transaction_list:
    current_states = path1 + state + "/"
    aggregated_year_list = os.listdir(current_states)
    # access the year file
    for year in aggregated_year_list:
        current_years = current_states + year + "/"
        aggregated_file_list = os.listdir(current_years)
        # access the JSON file
        for file in aggregated_file_list:
            current_files = current_years+file
            data = open(current_files,"r")
            Value_data = json.load(data)
            # access the data
            for i in Value_data["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                # append the data to column1
                column1["Transaction_type"].append(name)
                column1["Transaction_count"].append(count)
                column1["Transaction_amount"].append(amount)
                column1["States"].append(state)
                column1["Years"].append(year)
                column1["Quarter"].append(int(file.strip(".json")))

aggregated_transaction = pd.DataFrame(column1)

aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("-"," ")
aggregated_transaction["States"] = aggregated_transaction["States"].str.title()
aggregated_transaction['States'] = aggregated_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

# print(aggregated_transaction)

                 States Years  Quarter          Transaction_type  \
0     Andaman & Nicobar  2018        1  Recharge & bill payments
1     Andaman & Nicobar  2018        1     Peer-to-peer payments
2     Andaman & Nicobar  2018        1         Merchant payments
3     Andaman & Nicobar  2018        1        Financial Services
4     Andaman & Nicobar  2018        1                    Others
...                 ...   ...      ...                       ...
4129        West Bengal  2023        3         Merchant payments
4130        West Bengal  2023        3     Peer-to-peer payments
4131        West Bengal  2023        3  Recharge & bill payments
4132        West Bengal  2023        3        Financial Services
4133        West Bengal  2023        3                    Others

      Transaction_count  Transaction_amount
0                  4200        1.845307e+06
1                  1871        1.213866e+07
2                   298        4.525072e+05
3                    33        1.060142e+04
4                   256        1.846899e+05
...                 ...                 ...
4129          296965002        2.004404e+11
4130          271150280        8.310501e+11
4131           63055684        3.920985e+10
4132             389751        4.249856e+08
4133             532474        4.232851e+08

[4134 rows x 6 columns]

In [17]:

# aggregated_user

path2 = "E:/GUVI VIDEOS/GUVI_PROJECT/PhonepePulseData8/data/aggregated/user/country/india/state/"
aggregated_user_list = os.listdir(path2)

column2 = {"States":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_count":[], "Percentage":[]}

# access the state file
for state in aggregated_user_list:
    current_states = path2+state+"/"
    aggregated_year_list = os.listdir(current_states)
    # access the year file
    for year in aggregated_year_list:
        current_years = current_states+year+"/"
        agg_file_list = os.listdir(current_years)
         # access the JSON file
        for file in agg_file_list:
            cur_files = current_years+file
            data = open(cur_files,"r")
            Value_data1 = json.load(data)
            # access the data
            try:

                for i in Value_data1["data"]["usersByDevice"]:
                    brand = i["brand"]
                    count = i["count"]
                    percentage = i["percentage"]
                    column2["Brands"].append(brand)
                    column2["Transaction_count"].append(count)
                    column2["Percentage"].append(percentage)
                    column2["States"].append(state)
                    column2["Years"].append(year)
                    column2["Quarter"].append(int(file.strip(".json")))
            
            except:
                pass

aggregated_user = pd.DataFrame(column2)

aggregated_user["States"] = aggregated_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_user["States"] = aggregated_user["States"].str.replace("-"," ")
aggregated_user["States"] = aggregated_user["States"].str.title()
aggregated_user['States'] = aggregated_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(aggregated_user)

                 States Years  Quarter   Brands  Transaction_count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi               1665    0.247033
1     Andaman & Nicobar  2018        1  Samsung               1445    0.214392
2     Andaman & Nicobar  2018        1     Vivo                982    0.145697
3     Andaman & Nicobar  2018        1     Oppo                501    0.074332
4     Andaman & Nicobar  2018        1  OnePlus                332    0.049258
...                 ...   ...      ...      ...                ...         ...
6727        West Bengal  2022        1   Lenovo             330017    0.015056
6728        West Bengal  2022        1  Infinix             284678    0.012987
6729        West Bengal  2022        1     Asus             280347    0.012790
6730        West Bengal  2022        1    Apple             277752    0.012671
6731        West Bengal  2022        1   Others            2196334    0.100199

[6732 rows x 6 columns]

In [20]:
# map_transaction

path3 = "E:/GUVI VIDEOS/GUVI_PROJECT/PhonepePulseData8/data/map/transaction/hover/country/india/state/"
map_transaction_list = os.listdir(path3)

column3 = {"States":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}
# access the state file
for state in map_transaction_list:
    current_states = path3 + state +"/"
    map_year_list = os.listdir(current_states)
    # access the year file
    for year in map_year_list:
        current_years = current_states+year+"/"
        map_file_list = os.listdir(current_years)
         # access the JSON file
        for file in map_file_list:
            cur_files = current_years+file
            data = open(cur_files,"r")
            Value_data2 = json.load(data)
            # access the data
            for i in Value_data2['data']["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                column3["District"].append(name)
                column3["Transaction_count"].append(count)
                column3["Transaction_amount"].append(amount)
                column3["States"].append(state)
                column3["Years"].append(year)
                column3["Quarter"].append(int(file.strip(".json")))

map_transaction = pd.DataFrame(column3)

map_transaction["States"] = map_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction["States"] = map_transaction["States"].str.replace("-"," ")
map_transaction["States"] = map_transaction["States"].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

# print(map_transaction)

                  States Years  Quarter                           District  \
0      Andaman & Nicobar  2018        1  north and middle andaman district
1      Andaman & Nicobar  2018        1             south andaman district
2      Andaman & Nicobar  2018        1                  nicobars district
3      Andaman & Nicobar  2018        2  north and middle andaman district
4      Andaman & Nicobar  2018        2             south andaman district
...                  ...   ...      ...                                ...
16827        West Bengal  2023        3                     nadia district
16828        West Bengal  2023        3                   birbhum district
16829        West Bengal  2023        3           purba medinipur district
16830        West Bengal  2023        3                    maldah district
16831        West Bengal  2023        3                 darjiling district

       Transaction_count  Transaction_amount
0                    442        9.316631e+05
1                   5688        1.256025e+07
2                    528        1.139849e+06
3                    825        1.317863e+06
4                   9395        2.394824e+07
...                  ...                 ...
16827           30146530        5.787869e+10
16828           17597047        3.090737e+10
16829           34244893        6.813718e+10
16830           28539407        5.299766e+10
16831           14747572        2.463195e+10

[16832 rows x 6 columns]

In [21]:
               
# map_user

path4 = "E:/GUVI VIDEOS/GUVI_PROJECT/PhonepePulseData8/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path4)

column4 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}
# access the state file
for state in map_user_list:
    cur_states = path4+state+"/"
    map_year_list = os.listdir(cur_states)
    # access the year file
    for year in map_year_list:
        cur_years = cur_states+year+"/"
        map_file_list = os.listdir(cur_years)
        # access the JSON file
        for file in map_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            Value_data3 = json.load(data)
            # access the data
            for i in Value_data3["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                column4["Districts"].append(district)
                column4["RegisteredUser"].append(registereduser)
                column4["AppOpens"].append(appopens)
                column4["States"].append(state)
                column4["Years"].append(year)
                column4["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(column4)

map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(map_user)

                  States Years  Quarter                          Districts  \
0      Andaman & Nicobar  2018        1  north and middle andaman district
1      Andaman & Nicobar  2018        1             south andaman district
2      Andaman & Nicobar  2018        1                  nicobars district
3      Andaman & Nicobar  2018        2  north and middle andaman district
4      Andaman & Nicobar  2018        2             south andaman district
...                  ...   ...      ...                                ...
16831        West Bengal  2023        3                     nadia district
16832        West Bengal  2023        3                   birbhum district
16833        West Bengal  2023        3           purba medinipur district
16834        West Bengal  2023        3                    maldah district
16835        West Bengal  2023        3                 darjiling district

       RegisteredUser  AppOpens
0                 632         0
1                5846         0
2                 262         0
3                 911         0
4                8143         0
...               ...       ...
16831         1544294  12674328
16832          974363  18961683
16833         1530289  18593769
16834         1091634  28020285
16835          637665  21732323

[16836 rows x 6 columns]

In [22]:
# top_transaction

path5 = "E:/GUVI VIDEOS/GUVI_PROJECT/PhonepePulseData8/data/top/transaction/country/india/state/"
top_transaction_list = os.listdir(path5)

column5 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}
# access the state file
for state in top_transaction_list:
    current_states = path5 + state + "/"
    top_year_list = os.listdir(current_states)
    # access the year file
    for year in top_year_list:
        current_years = current_states+year+"/"
        top_file_list = os.listdir(current_years)
        # access the JSON file
        for file in top_file_list:
            current_files = current_years+file
            data = open(current_files,"r")
            Value_data4 = json.load(data)
            # access the data
            for i in Value_data4["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                column5["Pincodes"].append(entityName)
                column5["Transaction_count"].append(count)
                column5["Transaction_amount"].append(amount)
                column5["States"].append(state)
                column5["Years"].append(year)
                column5["Quarter"].append(int(file.strip(".json")))

top_transaction = pd.DataFrame(column5)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(top_transaction)

                 States Years  Quarter Pincodes  Transaction_count  \
0     Andaman & Nicobar  2018        1   744101               1622
1     Andaman & Nicobar  2018        1   744103               1223
2     Andaman & Nicobar  2018        1   744102                969
3     Andaman & Nicobar  2018        1   744105                685
4     Andaman & Nicobar  2018        1   744104                340
...                 ...   ...      ...      ...                ...
8205        West Bengal  2023        3   700001            3536928
8206        West Bengal  2023        3   721301            3464729
8207        West Bengal  2023        3   700039            3405551
8208        West Bengal  2023        3   732125            3347165
8209        West Bengal  2023        3   700015            3304464

      Transaction_amount
0           2.769298e+06
1           2.238042e+06
2           3.519060e+06
3           1.298561e+06
4           1.039715e+06
...                  ...
8205        7.193522e+09
8206        4.871566e+09
8207        5.095825e+09
8208        5.353831e+09
8209        5.003674e+09

[8210 rows x 6 columns]

In [33]:
# top_user

path6 = "E:/GUVI VIDEOS/GUVI_PROJECT/PhonepePulseData8/data/top/user/country/india/state/"

top_user_list = os.listdir(path6)

column6 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}
# access the state file
for state in top_user_list:
    current_states = path6 + state + "/"
    top_year_list = os.listdir(current_states)
    # access the year file
    for year in top_year_list:
        current_years = current_states + year + "/"
        top_file_list = os.listdir(current_years)
        # access the JSON file
        for file in top_file_list:
            current_files = current_years + file
            data = open(current_files,"r")
            Value_data5 = json.load(data)
            # access the data
            for i in Value_data5["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                column6["Pincodes"].append(name)
                column6["RegisteredUser"].append(registereduser)
                column6["States"].append(state)
                column6["Years"].append(year)
                column6["Quarter"].append(int(file.strip(".json")))

top_user = pd.DataFrame(column6)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
# print(top_user)

                 States Years  Quarter Pincodes  RegisteredUser
0     Andaman & Nicobar  2018        1   744103          637665
1     Andaman & Nicobar  2018        1   744101          637665
2     Andaman & Nicobar  2018        1   744105          637665
3     Andaman & Nicobar  2018        1   744102          637665
4     Andaman & Nicobar  2018        1   744104          637665
...                 ...   ...      ...      ...             ...
8206        West Bengal  2023        3   700015          637665
8207        West Bengal  2023        3   742304          637665
8208        West Bengal  2023        3   721101          637665
8209        West Bengal  2023        3   700150          637665
8210        West Bengal  2023        3   734006          637665

[8211 rows x 5 columns]

In [36]:

# Table Creation
# pgsql connection
mydb = psycopg2.connect(host = "localhost",
                        user = "postgres",
                        password = "aswin",
                        database = "phonepe_data",
                        port = "5432"
                        )
cursor = mydb.cursor()

#aggregated transaction table
create_query1 = '''CREATE TABLE if not exists aggregated_transaction (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()

for index,row in aggregated_transaction.iterrows():
    insert_query1 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Transaction_type"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query1,values)
    mydb.commit()

#aggregated user table
create_query2 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
cursor.execute(create_query2)
mydb.commit()

for index,row in aggregated_user.iterrows():
    insert_query2 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Brands"],
              row["Transaction_count"],
              row["Percentage"])
    cursor.execute(insert_query2,values)
    mydb.commit()

# map_transaction_table
create_query3 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query3)
mydb.commit()

for index,row in map_transaction.iterrows():
            insert_query3 = '''
                INSERT INTO map_Transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['District'],
                row['Transaction_count'],
                row['Transaction_amount']
            )
            cursor.execute(insert_query3,values)
            mydb.commit() 


# map_user_table
create_query4 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Districts varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query4)
mydb.commit()

for index,row in map_user.iterrows():
    insert_query4 = '''INSERT INTO map_user (States, Years, Quarter, Districts, RegisteredUser, AppOpens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Districts"],
              row["RegisteredUser"],
              row["AppOpens"])
    cursor.execute(insert_query4,values)
    mydb.commit()

# top_transaction_table
create_query5 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

for index,row in top_transaction.iterrows():
    insert_query5 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cursor.execute(insert_query5,values)
    mydb.commit()

# top_user_table
create_query6 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint
                                                        )'''
cursor.execute(create_query6)
mydb.commit()

for index,row in top_user.iterrows():
    insert_query6 = '''INSERT INTO top_user (States, Years, Quarter, Pincodes, RegisteredUser)
                                            values(%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["RegisteredUser"])
    cursor.execute(insert_query6,values)
    mydb.commit()